@model MyStore.Common.ShoppingCartViewModel

@{
    ViewBag.Title = "Cos Cumparaturi";
}

<h2>Cosul de cumparaturi</h2>

<table class="table table-striped col-md-3">
    <tr>
        <th>
            Produs
        </th>
        <th>
            Pret (bucata)
        </th>
        <th>
            Cantitate
        </th>
        <th></th>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                @Html.ActionLink(product.Product.Name, "Details", "Category", new { id = product.ProductId }, null)
            </td>
            <td>
                @product.Product.Price
            </td>
            <td>
                @product.Quantity
            </td>
            <td>
                @Html.ActionLink("Remove from Cart", "RemoveFromCart", new { id = product.ProductId })
            </td>
        </tr>
    }
    <tr>
        <td>
            <h4>Total</h4>
        </td>
        <td></td>
        <td></td>
        <td>
            <h4>@Model.Total</h4>
        </td>
    </tr>
</table>

@if (Model.Total > 0)
{
    <p class="btn btn-default">
        @Html.ActionLink("Confirma comanda", "Checkout", new { controller = "ShoppingCart" })
    </p>
}

