@model IEnumerable<MyStore.Models.Product>

@{
    var category = Model.First().Category.Name;
    ViewBag.Title = "Browse";
}

<hr />

<div class="category">
    <h3>
        <em>@category</em>
    </h3>
    <div style="position:relative;" class="center-block">
        <div class="container-fluid">
            @foreach (var product in Model)
            {
                <div class="col-md-4 col-sm-4 col-xs-4 container">
                    <a href="@Url.Action("Details", new { id = product.Id })">
                        <img alt="@product.Name" src="@Url.Content(product.ImageUrl)" />
                        <h4 class="control-label">@product.Name</h4>
                    </a>
                </div>
            }
        </div>

    </div>
    <a class="btn btn-default" href="~/Category">Inapoi</a>





    @*<ul id="category-list" class="list-unstyled">
        @foreach (var product in Model)
        {
            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
                <a href="@Url.Action("Details", new { id = product.Id })">
                    <img alt="@product.Name" src="@Url.Content(product.ImageUrl)" />
                    <h4 class="control-label">@product.Name</h4>
                </a>
            </li>
        }
    </ul>*@
</div>